<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Gitorama</title>
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
        {% assets "css_all" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        {% assets "js_all" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">Gitorama!</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active"><a href="/">About</a></li>
                            <li><a href="{{ url_for('forkfeed.index') }}">Forkfeed</a></li>
                        </ul>

                        {% if request.user %}
                            <form action="{{ url_for('auth.logout') }}" method="POST" class="login-form pull-right">
                                <img src="{{ request.user.avatar_url }}" width="20px" height="20px"/>{{ request.user.login }} <input type="submit" value="Log Out" class="btn danger"/>
                            </form>
                        {% endif %}
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
            <h1>TEST</h1>
            <h2>BLAH</h2>
            {% block content %}
            {% endblock %}

        </div>

        <footer>
            <p>&copy; 40 Ants 2011-2012</p>
        </footer>
    </body>
</html>

