<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Gitorama</title>
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
        <style type="text/css">
            body {
                padding-top: 20px;
            }
        </style>
    </head>
    <body>
        <div class="topbar">
          <div class="fill">
            <div class="container">
              <a class="brand" href="/">Gitorama!</a>
              <ul class="nav">
                <li class="active"><a href="#about">About</a></li>
                <li><a href="{{ url_for('forkfeed.index') }}">Forkfeed</a></li>
              </ul>

            {% if request.user %}
                <form action="{{ url_for('auth.logout') }}" method="POST" class="pull-right">
                    <p style="color: gray"><img src="{{ request.user.avatar_url }}" width="20px" height="20px"/>{{ request.user.login }} <input type="submit" value="Log Out" class="btn danger"/></p>
                </form>
            {% endif %}
            </div>
          </div>
        </div>

        <div class="container">
            <h1></h1>
            {% block content %}
            {% endblock %}

            <footer>
                <p>&copy; 40 Ants 2011-2012</p>
            </footer>
        </div>
    </body>
</html>

