{% extends 'base.html' %}

{% block content %}
    <h2>Registration</h2>

    <p>To make your profile usable, please, enter your email address and timezone.</p>

    <form method="POST" action="">
        {{ form.csrf_token }}
        {{ form.email.label }} {{ form.email }}
        {% if form.email.errors %}
            <ul class="errors">{% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        {{ form.timezone.label }} {{ form.timezone }}
        {% if form.timezone.errors %}
            <ul class="errors">{% for error in form.timezone.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        <p><input type="submit" value="Confirm" class="btn"/></p>
    </form>

    {% if not form.timezone.object_data %}
        <script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=en-US"
                type="text/javascript"></script>

        <script type="text/javascript">
            // Как только будет загружен API и готов DOM, выбираем предсказанное яндекс-картами место
            ymaps.ready(function() {
                $('#timezone option').each(function() {
                    if (this.text.indexOf(ymaps.geolocation.city) != -1) {
                        this.selected = true;
                    }
                });

            });
        </script>
    {% endif %}
{% endblock %}

